<style>
    .head-tab {
        padding: 0px 10px;
        text-align: center;
        line-height: 44px;
        background: #efeff0;
        border: 1px solid #dddddd;
        position: relative;
    }

    .head-tab i {
        bottom: -1px;
    }

    .head-tab i::before {
        content: "";
        display: block;
        height: 2px;
        width: 34px;
        margin: 0px auto;
        background: #777;
    }

    .head-tab a {
        display: block;
        margin: 0px auto;
        width: 2em;
    }

    .header-checkin {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 44px;
        height: 44px;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAZCAMAAABuOnzZAAAAolBMVEUAAAAbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiEbGiFJgwQWAAAANXRSTlMA8OEE5qDa9BjdNrb7+OrCmJOGe6+NdGctDgjRbl1DCtXHvammUydiWE0gFREjG9fOy4FKP9g69KIAAAG1SURBVCjPhZPpspswDIUtY2zMvhMCIaxJIHty/f6vVnzpXJy2Mz1/7CO+kYQ0RlLa4X3MhgP61GW67X/MvgrbGhNqpdNKbM0s0fVwuC1ZTh7YDoAthKDJdUGMrC8w55hgTx9nPwoBxAVsRcfIAnqSWU7xo7W8mvM7JQxShN62TYgXVrksbIZWukVjdDoYxrUqe4optZ/zl5Q4nay8yBgv6Kz9NvnO4py18qqLECnKb4o5eIT18uLbiRI29eCsWB0g+IYcBcp16ucK5ANE8gyYAm39+oU+IDf7hsBXouU9VZzmAx4WSN+u4XeRqZAOtPob+ip2HxArNktZFTIff0DNdckYX5TJPI8KtO+c1pBnDN6kQB89nS1m5XIRHtTmGt7gUoEMj8VbGa2BDErjTvrT0Aw9WSc3WRGAF8o3s2R1U27S2FTHKAmCMqLQS2hg4DaJ9Sjqe9OVVy3amaHVFFiKYOrGEtoJx3WB2Qw3cde2Gco72r+iJG4o5pwTfJL5HQGuY3ulaWjoUpXGFH3t5Y+Zx9glHIseyVRcCJKe19ms7yXFLjjLcKcwMNG/NWA71ND/NGYz8wtKHyKO6y3tlgAAAABJRU5ErkJggg==");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 25px;
    }

    .swipe-tab {
        position: relative;
        overflow: hidden;
        z-index: 1;
    }

    .swipe-tab i {
        position: absolute;
        left: 0px;
        transform: 0.3 ease-out;
        -webkit-transform: -webkit-transform .3s ease-out;
    }

    .swipe-tab a {
        float: left;
        text-align: center;
        font-size: 18px;
        -webkit-tap-transform-color: rgba(0, 0, 0, 0);
        font-family: '楷体';
    }

    .swipe-tab a.actove {
        font-weight: 600;
        color: #282828;
    }

    .swipe-tab-2 a {
        width: 100%;
    }
</style>

<div class="head-tab">
    <div>
        <div class="swipe-tab  swipe-tab-2 f-cb">
            <!-- <a href="javascript:" class="actove">书城</a> -->
            <a href="javascript:">端脑</a>
            <!-- <i class="" style="width:50%; transition-duration:0.5s; transform: translate3d(0px,0px,0px)"> </i> -->
        </div>
        <em class="header-checkin"></em>
    </div>
</div>