<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="target-densitydpi=device-dpi, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-datection" content="telephone=no">
    <link rel="icon" href="img/favicon/favicon.ico">
    <title>书城</title>
    <link rel="stylesheet" type="text/css" href="css/core/reset.css">
    <link rel="stylesheet" type="text/css" href="css/show.css">
</head>

<body>
    <div class="show-well" id="app">

        <div class="show-header-box">
            <div class="show-header-text f-cb">
               {{ titlename }}
            </div>
            <em class="header-return"></em>
        </div>

        <!-- 菜单按钮 -->
        <div class="menu-button"></div>
        <div class="show-project-box">
            <span class="show-item" v-for=" list in lists" >
                <img :src= list  />
            </span>
        </div>
    </div>
</body>
<script src="js/vue.js"></script>
<script src="js/zepto.js"></script>
<script src="js/views/show.js"></script>
</html>